/*	
Aaron Meyer
9/29/23
styles.css 
*/

/* CSS Reset */
body, header, nav, main, footer, img, h3, figure, figcaption, section, article, aside{
	margin: 0;
	padding: 0;
	border: 0;
}
body{
	background-color: #3cb371;
}
img{
	height: none;
	width: none;
	max-width: 10%;
	display: block;
	float: center;
}
footer{
	background-color: #9884a8;
}
footer p{
	text-align: center;
}
nav ul{
	list-style: none;
	margin: 0;
	text-align: center;
	font-family: 'Francois One', sans-serif;
}
nav li{
	display: inline-block;
	font-size: 2em;
	font-family: Verdana, Arial, sans-serif;
	font-weight: bold;
}
nav li a{
	display: block;
	color: #98fe72;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 1em;
	padding-right: 1em;
	text-decoration: none;
} 
h1{
	float: right;
	background-color: red;
}
main{
	text-align: center;
}
main p{
	font-size: 1.5em;
	font-weight: bold;
	font-family: 'Francois One', sans-serif;
}
main li{
	font-family: 'Francois One', sans-serif;
}
main h3{
	font-family: 'Francois One', sans-serif;
	text-shadow: 7px 12px 7px #ccc;
}
article{
	padding: 2%;
	text-align: center;
	margin: 0 auto;
}

mobile{
	display: block;
	background-color: red;
}
.round main p{
	border-radius: 8px;
}
.tel-link{
	background-color: #428483;
	padding: 2%;
	margin: 0 auto;
	width: 10%;
	text-align: center;
	border-radius: 10px;
}
/* Media Query for Tablet Viewport */
@media screen and (min-width: 500px), print{
article{
	width: 50%;
	float: center;
	height: 190px;
}
footer{
	float: center;
}
legend{
		background-color: red;
	}
	p{
		background-color: brown;
	}
}
/* Media Query for Desktop Viewport */
@media screen and (min-width: 770px){
article{
	width: 39%;
	height: 160px;
}
article:hover{
	background-color: #AB4141;
	color: green;
}
	legend{
		background-color: red;
	}
	p{
		background-color: lime;
	}
}
main h3{
	float: left;
}
